<nav>
    {% if request.user.is_authenticated %}
    <div class="login-links">
        <img class="icon" src="../../static/news/images/user-icon.png">
        <a href="/users/{{ user.id }}/">{{ user.username }}'s Profile</a>
    </div>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <div class="login-links">
        <img class="icon" src="../../static/news/images/user-icon.png">
        <a href="{% url 'login' %}">Login</a>
    </div>
    <a href="{% url "users:createAccount" %}">Sign up</a>
    {% endif %}
</nav>


