@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: #8246af;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Klee One', cursive;
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: 'Klee One', cursive;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    color: #fff;
    height: auto;
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #fff;
}

a, p {
    font-family: monospace;
}
