body {
    background-color: #fff;
    color: #000;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.icon {
    width: 15px;
    height: 15px;
    filter:none;
    margin-top: 2%;
}

h1 {
    color: #8246af;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #8246af;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    height: auto;
    flex-basis: 80%;
    display: flex;
    justify-content: center;
}

#title-block {
    display: flex;
    flex-direction: column;
    z-index: -1;
    margin-top: 2%;
}

#nav-container {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index:1;
}

#she-codes {
    width: 15%;
    justify-content: flex-start;
}

#she-codes-logo {
    padding-right: 0; 
}

#navbar {
    display: flex;
    align-items: baseline;
}

.login-links {
    padding-right: 20px;

}

#menu {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #f4a123;
    border-bottom: 1px solid #f4a123;
    margin-top: 2%;
    padding: .7% 15% .7% 15%;
    padding-right: 15%;
}

.add-story {
    display: flex;
    justify-content: center;
    padding: 1.2%;
    width: 15%;
    margin: 2% auto 2% auto;
    background-color: #f4a123;
    text-align: center;
}

#unlogged {
    background-color: #fff;
    border: 1px solid #f4a123
}

a {
    color: #000;
    margin: 2px;
    text-decoration: none;
}

nav a:hover, #menu a:hover {
    color: #8246af;
    text-decoration: underline;
}

a, p, li {
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
}

#login-container, #signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: auto;
    padding: 2% 5% 3% 5%;
    margin-top: 5%;
    margin-bottom: 1%;
    border: 2.5px solid #8246af;
    background-color: #f6eaff;
}

#login-container p, #signup-container p {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2%;
}

#login-container input {
    padding: 2%;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

#login-container label {
    width: 100%;
}

button {
    width: 40%;
    margin-top: 5%;
    padding: 3%;
    background-color: #8246af;
    color: #fff;
}

.button-div {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2%;
}

#create-account {
    width: 100%;
    padding: 10%;
}

#signup-container form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: auto;
}

#signup-container input {
    margin: 2% 0 2% 0;
    padding: 1.5%;
    text-align: center;
    font-size: 1.2em;;
}
