@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: #fff;
    color: #000;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.icon {
    width: 15px;
    height: 15px;
    filter:none;
}

h1 {
    color: #8246af;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    height: auto;
    flex-basis: 80%;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.login-links {
    padding-right: 20px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #f4a123;
    border-bottom: 1px solid #f4a123;
    margin-top: 2%;
    padding: .7% 15% .7% 15%;
    padding-right: 15%;
}

.add-story {
    display: flex;
    justify-content: center;
    padding: 1.2%;
    width: 15%;
    margin: 2% auto 2% auto;
    background-color: #f4a123;
    text-align: center;
}

#unlogged {
    background-color: #fff;
    border: 1px solid #f4a123
}

a {
    color: #000;
    margin: 2px;
    text-decoration: none;
}

nav a:hover, #menu a:hover {
    color: #8246af;
    text-decoration: underline;
}

a, p {
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 30%;
    padding: 5%;
    padding-top: 2%;
    margin-top: 5%;
    border: 2.5px solid #8246af;
    background-color: #f6eaff;
}

#form-container h2 {
    text-align: center;
    color: #8246af;
    
}

#form-container p {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2%;
}

#form-container input {
    padding: 2%;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

#form-container label {
    width: 100%;
}

#form-container button {
    width: 40%;
    margin-top: 5%;
    padding: 3%;
    background-color: #8246af;
    color: #fff;
}

#button-div {
    display: flex;
    justify-content: center;
    margin: auto;
}